body{
    margin-left: 0px;
    margin-right: 0px;
}
 .navbar{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    background-color: rgb(0, 0, 51);
}
.navbar .logo img{
    object-fit:cover;
    width: 50px;

}
main{
    padding-left: 20px;
    padding-right: 20px;
    font-family: sans-serif;
}
.menu {
    display: flex;
}
.menu a {
float: right;
text-align: center;
padding: 12px;
text-decoration: none;
font-size: 17px;

}
.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    background-image:url("https://github.com/Mohak-Trivedi/xcruise-assets/blob/master/hero-cruise.png?raw=true");
    height:100vh;
    background-size: cover;
}
.hero h1{
    color:white;
    overflow-wrap: break-word;
}
.hero button{
    background-color: orangered;
}
.discover{
    padding: 40px;
    
}
.heading{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-bottom: 20px;
    border-left: none;
    
}
.popular{
    display: flex;
    flex-direction: column;
    gap:10px;
    
}
.pills{
    display: flex;
    flex-direction: column;
    border: 2px; 
  padding: 10px; 
  gap:8px;

}
.pills div{
    gap: 8px;
    padding: 8px 10px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 20px;
}
.pills img{
    object-fit: cover;
    height: 15px;
    width: 15px;
    border-radius: 50%;
}
.pills div:hover{
    cursor: pointer;
}
.banner{
    background-image:url("https://github.com/Mohak-Trivedi/xcruise-assets/blob/master/caribbean-cruise.png?raw=true");
    background-size: cover;
    height: 30vh;
    display: flex;
    justify-content: left;
    align-items: flex-end;
    color:whitesmoke;
    margin-bottom: 10px;
    position: relative;
}
.bookmark img{
    position: absolute;
    height: 25px;
    width: 25px;
    top: 10px;
   right: 10px;
    background-color: gray;
    border-radius: 50%;
    padding: 5px;
}
.cards{
        display: grid;
        row-gap: 10px;
        column-gap: 10px;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(8,500px);
}
.card{
    cursor: pointer;
}
.card{
    color:whitesmoke;
    background-size: cover;
    font-size: smaller;    
    display:flex;
    position: relative;
    left: 10;
    bottom: 10;
    
}
.card div:first-child{
    position: absolute;
    left: 10;
    bottom: 10;
    align-self: flex-end;
}

#pic0{
    background-image:url("https://github.com/Mohak-Trivedi/xcruise-assets/blob/master/mediterranean-cruise.png?raw=true");
}
#pic1{
    background-image:url("https://github.com/Mohak-Trivedi/xcruise-assets/blob/master/dubai-cruise.png?raw=true");
}
#pic2{
    background-image:url("https://github.com/Mohak-Trivedi/xcruise-assets/blob/master/northern-europe-cruise.png?raw=true");
}
#pic3{
    background-image:url("https://github.com/Mohak-Trivedi/xcruise-assets/blob/master/redsea-cruise.png?raw=true");
}
#pic4{
    background-image:url("https://github.com/Mohak-Trivedi/xcruise-assets/blob/master/bermuda-beach-cruise.png?raw=true");
}
#pic5{
    background-image:url("https://github.com/Mohak-Trivedi/xcruise-assets/blob/master/south-africa-cruise.png?raw=true");
}
#pic6{
    background-image:url("https://github.com/Mohak-Trivedi/xcruise-assets/blob/master/south-america-cruise.png?raw=true");
}
#pic7{
    background-image:url("https://github.com/Mohak-Trivedi/xcruise-assets/blob/master/asia-cruise.png?raw=true");
}
#contact {
    padding: 10px;
}

#contact h3 {
    font-size: 1.5em;
    text-align: center;
    text-decoration: underline;
  text-decoration-color:orangered; 

}

.contact_info {
    display: block; /* Stack all elements vertically by default */
    border:1px solid  gray;
}

.contact_info_item {
    width: 100%; /* Full width for each item on mobile */
    border-right: 1px solid gray;
    margin-bottom: 20px;
}

.contact_info_item h4 {
    font-size: 1.1em;
    margin-bottom: 10px;
     /* Red border for the h4 tag */
    padding-bottom: 5px;
}

.contact_info_item p {
    font-size: 0.9em;
    margin-bottom: 10px;
}
footer {
    background-color: rgb(0, 0, 51);
    padding: 20px 0px;
    color: #ededed;
    font-family: ubuntu, rubik;
    text-align: center;
    font-weight: 400;
  }
.footer-container{
    display:grid;
    grid-template-columns: 1;
    grid-template-rows: repeat(4,1fr);
    align-content: center;
    justify-items: center;
    margin:0;
}
.social-icons img{
    width: 20px;
    height: 20px;
}
.footer-item{
    text-align: center;
    margin-top: 0;
}

.footer-item h3{
    color: orange;
}
.footer-item ul{
    list-style: none;
    
}
.footer-item li{
    row-gap: 5px;
}
.footer_rights{
    margin:0;
    text-align: center;
    border-top: 1px solid #2f2f58;
}

@media (min-width: 480px) and (max-width: 768px){
    .cards{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(4,200px);
    }
    
}
/* Media Query for Laptops and Desktops */
@media (min-width: 768px) {
    .navbar{
        justify-content: space-between;
        flex-direction: row;
    }
    .heading{
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: flex-start;
        margin-bottom: 20px;
        border-left: 5px solid orange;
        
    }
    .popular{
        flex-direction: row;
    }
    .pills{
        flex-direction: row;
    }
    .cards{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: repeat(2,200px);
        
}
.contact_info {
    display: flex;
    justify-content: space-between; /* Arrange contact info side by side */
}

.contact_info_item {
    width: 48%; /* Two columns layout */
    margin-bottom: 0; /* Remove bottom margin between items */
}

.contact_info_item h4 {
    font-size: 1.2em;
}

.contact_info_item p {
    font-size: 1em;
}
.footer-container{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 1;
    justify-content: center;
    align-items: center;
    height: 30vh;
    text-align: start;
    
}
.footer-item ul{
    text-align: start;
}
.footer-item h3{
    padding-top: 0px;
}
}

  
